services:
  cloudflared:
    image: cloudflare/cloudflared@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    container_name: cloudflared
    environment:
      - TZ=America/Vancouver
      - TUNNEL_TOKEN=${API_TOKEN}
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    networks:
      - cloudflared

networks:
  cloudflared:
    name: cloudflared
