volumes:
  dispatcharr_data:
    external: true
    name: dispatcharr_dispatcharr_data

services:
  nordvpn:
    image: qmcgaw/gluetun:latest@sha256:ad2b65b131ca4faa4882c91d3672aeb72a0c480f8f33d5854f90d8b683da14e6
    container_name: nordvpn
    hostname: nordvpn
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      VPN_SERVICE_PROVIDER: nordvpn
      VPN_TYPE: wireguard
      WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
      SERVER_COUNTRIES: ${SERVER_COUNTRIES}
      TZ: ${TZ}
      DNS: ${DNS}
      EXTRA_SUBNETS: ${EXTRA_SUBNETS}
      FIREWALL_OUTBOUND_SUBNETS: ${FIREWALL_OUTBOUND_SUBNETS}
    ports:
      - "8889:8889"
      - "6887:6887/tcp"
      - "6887:6887/udp"
      - "8888:8888/tcp"
      - "9191:9191"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    volumes:
      - /etc/localtime:/etc/localtime:ro

  web:
    image: nginx:1.29.5-trixie@sha256:341bf0f3ce6c5277d6002cf6e1fb0319fa4252add24ab6a0e262e0056d313208
    container_name: web
    network_mode: "service:nordvpn"
    restart: unless-stopped
    depends_on:
      - nordvpn

  dispatcharr:
    image: ghcr.io/dispatcharr/dispatcharr:latest
    container_name: dispatcharr
    restart: unless-stopped
    network_mode: "service:nordvpn"
    depends_on:
      - nordvpn
    volumes:
      - dispatcharr_data:/data
      - /srv/data/media/tv/iptv:/data/recordings/TV_Shows
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}

  torrent:
    image: ghcr.io/linuxserver/qbittorrent:5.1.4-r2-ls440@sha256:dfa75bc534ad4f36262f75b5c1d4c4f0ddd5e7ed5711ebc581c70920cce204ee
    network_mode: "service:nordvpn"
    restart: unless-stopped
    depends_on:
      - nordvpn
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      WEBUI_PORT: ${WEBUI_PORT}
      TORRENTING_PORT: ${TORRENTING_PORT}
    security_opt:
        - seccomp:unconfined
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/data/projects/docker/qbittorrent:/config
      - /srv/data/downloads/torrents:/downloads
