networks:
  app_network:
    external: true
  cloudflared:
    external: true

volumes:
  portainer_data:
    external: true
    name: portainer_data

services:
  portainer:
    image: portainer/portainer-ee:2.33.7@sha256:d9ca585c2b0aa0636f3c734f6c07bd39f170059023ccbc1a725d9f2f804ddc22
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - app_network
      - cloudflared
